@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400&display=swap');

* {
  box-sizing: border-box;
  margin: 0.5rem;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0.5);
  font-family: Anonymous-Pro, Arial, Helvetica, sans-serif;
  color: var(--almost-black);
}

:root {

  --almost-white: rgb(10, 6, 6);
  --medium-blue: rgb(61, 138, 179);
  --dark-blue: rgb(217, 130, 117);
  /* --almost-black: rgb(33, 33, 33); */
  /* --text-shadow-black: 2px 2px 2px var(--almost-black); */
  /* --box-shadow-white: 0 0 10px var(--almost-white); */
  /* --border-dark-blue: 2px solid var(--dark-blue); */
}

body {
  background: var(--dark-blue); 
  /* margin-right: 2rem; */

}

i {
  color: var(--almost-white);
  text-shadow: var(--text-shadow-black);
}

sup {
  color: inherit;
  text-shadow: inherit;
  font-size: 50%;
  font-weight: 100;
}